[theme="dark"] {
    --first-image: url("/static/img/blue.jpg");
    --first-color: #222346;
    --second-color: white;
    --panel-color: rgb(37, 60, 60);
    --title-color :  rgb(74, 74, 226)
}

/* [theme="light"] {
    --first-image: none;
    --first-color: #e1ddee;
    --second-color: rgb(93, 89, 99);
    --panel-color: #dba93e;
    --title-color: white;
} */


body {
    padding-top: 0px;
    font-family: "Josefin Sans";
}

h1, h2, h3 {
    font-family: "Abril Fatface";
    font-weight: 700 !important;
    font-size: 30px;
    color: rgb(51, 46, 46);
    line-height: 1.3;
}

.btn-color {
    background-color:  #747997;
    color: white;
}

.animated-btn {
    background-color: #747997;
    color: white;
    width: 23vw;
    border-radius: 25px;
}

/* NAVBAR COLLAPSE */

.btn-toggle{
    background-color:#747997;
    width: 90px;
    padding: 10px;
    border-radius: 30px; 
}

#sidebar.active {
    margin-left: -250px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
}


#sidebar li {
    list-style-type: none;
}

#sidebar ul {
    background: #747997;
    border-radius: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid  rgb(29, 27, 32);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background:  #78b3ba;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background:  rgb(29, 27, 32);
}


/* SIDEBAR COLLAPSE TOGGLE */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* LANDING PAGE */
.main {
    width : 100vw;
}

.row {
    margin : 0rem;
}

.main-about {
    width: 100vw;
    height: 300vh;
    background-image : var(--first-image);
    background-color : var(--first-color);
}
.about-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* ICONS */

.fh5co-social-icons {
    margin: 0;
    padding: 0;
  }
  .fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #8f8caa;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fh5co-social-icons li a i {
    font-size: 40px;
  }
  

/* LEFT SIDE */

.left-side {
    width : 30vw; 
    height: 300vh;
    border-top-right-radius: 70px;
    background-color: rgb(29, 27, 32);
}

img {
    border-radius: 50%;
    display: block;
    margin-right: auto;
    width: 80%;
    height: 250px;
}

.header-about h1{
    font-family: "Abril Fatface";
    font-weight: 700 !important;
    font-size: 45px;
    color: white;
    line-height: 1.3;
}

.header-about h2{
    font-family: "Abril Fatface";
    font-weight: 700 !important;
    font-size: 30px;
    color: rgb(255, 243, 243);
    line-height: 1.3;
}

.card-body h3 {
    font-family: "Josefin Sans";
    font-weight: 700 !important;
    font-size: 22px;
    color: rgb(51, 46, 46);
    line-height: 1.3;
}

.card-body h2 {
    font-family: "Abril Fatface";
    font-weight: 700 !important;
    font-size: 30px;
    color: rgb(51, 46, 46);
    line-height: 1.3;
}

.header-about p {
    font-family: "Josefin Sans";
    font-weight: 700 !important;
    font-size: 20px;
    color: white;
    line-height: 1.3;
}

/* ACCORDION */
.accordion-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.accordion {
    width: 100%;
}

.collapse {
    width : 80%;
    overflow: hidden;
}
.card {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.accordion-buttons svg {
    cursor: pointer;
}

.card {
    background-color: var(--second-color);
    color: var(--panel-color)
}

.btn2 {
    color: var(--title-color);
    border: none;
    background-color: transparent;
}




