{% extends 'base.html' %}

{% load static %}
{% block content %}


    <div class="main-about" theme="dark">
      <div class="about-container">

        <div class="left-side d-flex flex-column justify-content-start">

            <!-- Sidebar Menu -->
            <div class="ml-5 mt-5 mb-3">
                {% include 'navbar.html' %}
            </div>
            
            <!-- Header Text -->
            <div class="header-about ml-5 mt-3">
                <img src="{% static 'img/me2.jpg' %}" alt="">
                <br>
                <br>
                <h1>Hello! <br>I'm Ayuka</h1>
                <br>
                <h2> About Me </h2>
                <p>
                I am a student at University of <br>
                Indonesia, majoring in <br>
                Information System.<br>
                <br>
                I am extremely motivated to get new
                experiences to constantly develop my 
                skills and grow professionally.
                <br>
                <br>
                After 3+ years experience in <br>
                many Committees and <br>
                Organizations, i believe i can<br>
                help you with all the skills <br>
                that i have learned. <br>
                <br>
                </p>
                <h2> Actually, what is this? </h2>
                <p> This is my another website<br>
                for "PPW" assignments for <br>
                after the midterm test till<br>
                the end off the class :D <br>
                Nice to see you! <br>
                <br>
                <a href = "https://story4ayuka.herokuapp.com"> 
                Click here to see my another
                personal website :) </a>
                </p>
                <br>
                <h2> Social Media </h2>
                <p>
                <ul class="fh5co-social-icons">
                  <li><a href="https://twitter.com/flowerkels"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://instagram.com/ayukasnht"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/ayuka-sonohata-66a47a19b/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
      
          <div class="accordion-container right-side  ml-5 mt-5">
            <div class="accordion mx-5 mt-5" id="accordionExample275">
                        <!-- CARD 1 -->
                        <div class="accordion1 card z-depth-0 bordered" style="order:1;">
                          <div class="card-header row" id="headingOne2">

                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne2"
                                aria-expanded="true" aria-controls="collapseOne2">
                                + Activities
                              </button>
                            </h5>

                            <!-- Buttons -->
                            <div class="accordion-buttons col-2 d-flex justify-content-flex">
                              <div class="button-up" id="up-accordion1">
                                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                              <div class="button-down" id="down-accordion1">
                                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                          <!-- Collapse content -->
                          <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                                <p>
                              - Busy with college things<br>
                              - Teaching Assistant of Calculus 1 at Fasilkom UI<br>
                              - Staff of Arts and Culture Division at BEM Fasilkom UI<br>
                              - Fangirling <3 <br>
                              </p>
                            </div>
                          </div>
                        </div>

                        <!-- CARD 2 -->
                        <div class="accordion2 card z-depth-0 bordered" style="order:2;">
                          <div class="card-header row" id="headingTwo2">
                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                + Experiences
                              </button>
                            </h5>

                            <!-- Buttons -->
                            <div class="accordion-buttons col-2 d-flex justify-content-flex">
                                <div class="button-up" id="up-accordion2">
                                  <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <div class="button-down" id="down-accordion2">
                                  <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                            </div>
                          </div>
                        
                          <!-- Collapse content -->
                          <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                                <br>
                                <h2> Organizations </h2>
                                <h3> High School </h3>
                                <p>
                                - Student Council Staff (2016-2018)<br>
                                <br>
                                </p>
                                <h3> College </h3>
                                <p>
                                - BEM Fasilkom UI - Staff Division of Art and Culture<br>
                                </p>
                                <br>

                                <h2> Committees </h2>
                                <h3> High School </h3>
                                <p>
                                - Studi Banding - Staff Publication and Documentation<br>
                                - Classmeeting SMA - Fundraising<br>
                                - OSIS Gathering - Staff of FnB<br>
                                - Independence Day - Staff of K3<br>
                                - Studi Banding - Staff of Publication and Documentation<br>
                                - SIRAH (Event Lomba Islami tingkat Kota/Kab Bogor dan Kota Depok) - Staff of Event<br>
                                - La Sastra (Lomba Bahasa dan Sastra Se-Jawa Barat, DKI Jakarta, dan Banten) - Staff of FnB<br>
                                - Latihan Dasar Kepemimpinan (LDK) - VPO<br>
                                - Pendidikan Dasar (DIKSAR) - PIC of Event<br>
                                - MPLS SMA - PIC of event<br>
                                - Graduation - PIC of Event<br>
                                - Uji Kelayakan Pengurus OSIS - Staff of Event<br>
                                - Buku Tahunan - Vice Project Officer<br>
                                - Classmeeting - Staff of Event<br>
                                - OSIS Gathering - Staff of Public Relations<br>
                                - Independence Day - Staff of Fundraising<br>
                                - Promnight SMA - Vice Project Officer<br>
                                <br>
                                </p>
                                <h3> College </h3>
                                <p>
                                - SYNTAX (Gathering Fasilkom UI 2019) - PIC of Public Relations<br>
                                - Gathering Keluarga Rumpun Bogor UI 2019 - Staff of Event<br>
                                - Open House Fasilkom UI 2019 - Staff of Public Relations<br>
                                - Sosial Project 2019 - PIC of Event<br>
                                - Gelar Karya 2019 - PIC of Public Relations<br>
                                - TWISTER UI - Staff of Event<br>
                                - Wisuda Ganjil Fasilkom UI 2020 - Staff of LO<br>
                                - PERAK Fasilkom - Staff of Relations<br>
                                - COMPFEST - Staff of Direct Marketing<br>
                                - OKK UI - Mentor<br>
                                </p>
                            </div>
                          </div>
                        </div>

                        <!-- CARD 3 -->
                        <div class="accordion3 card z-depth-0 bordered" style="order:3;">
                          <div class="card-header row" id="headingThree2">

                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                + Achievements 
                              </button>
                            </h5>

                            <!-- Buttons -->
                            <div class="accordion-buttons col-2 d-flex justify-content-flex">
                                <div class="button-up" id="up-accordion3">
                                  <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <div class="button-down" id="down-accordion3">
                                  <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                            </div>
                          </div>

                          <!-- Collapse content -->
                          <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                              <p>
                                1. 3rd place Vocal Group Contest (Kota Bogor) 2016<br>
                                2. 2nd place Vocal Group Contest (Kota Bogor) 2017<br>
                                3. 3rd place Vocal Group UI Art War 2019
                              </p>
                            </div>
                          </div>
                        </div>

                        <!-- CARD 4 -->
                        <div class="accordion4 card z-depth-0 bordered" style="order:4;">
                          <div class="card-header row" id="headingFour2">

                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour2"
                                aria-expanded="false" aria-controls="collapseFour2">
                                + Another Experiences
                              </button>
                            </h5>

                            <!-- Buttons -->
                            <div class="accordion-buttons col-2 d-flex justify-content-flex">
                              <div class="button-up" id="up-accordion4">
                                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                              <div class="button-down" id="down-accordion4">
                                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                          </div>
          
                          </div>
                          <!-- Collapse content -->
                          <div id="collapseFour2" class="collapse" aria-labelledby="headingFour2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                                <h3> Master of Ceremony </h3>
                                <p>
                                1. Software Engineering Academy COMPFEST 12 (2020)<br>
                                2. Data Science Academy COMPFEST 12	(2020)<br>
                                3. UX Academy COMPFEST 12 (2020)<br>
                                4. COMPFEST Talks (2020)<br>
                                5. Main Event PERAK: “Bukan Perak Biasa” (2020)<br>
                                6. Live at Youtube: DeepTech x COMPFEST “Rasanya Jadi Software Engineer di Perusahaan Teknologi” (2020)<br>
                                </p>

                                <h3> Seminar </h3>
                                <p>
                                1.	"Youth Voice Against Child Marriage" by UNICEF and Kingdom of Netherlands (2018)<br>
                                2.	"Women in Tech: Empathy and Humanity in Design Thinking" by COMPFEST 11	(2019)<br>
                                </p>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
      </div>
    </div>

{% endblock %}