{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="main-story10 d-flex flex-column justify-content-center" theme="dark">
    <div class="row">
        <div class="left-side d-flex flex-column justify-content-start col-3">

                <!-- Sidebar Menu -->
                <div class="ml-5 mt-5 mb-3">
                    {% include 'navbar.html' %}
                </div>

                {% if user.is_authenticated == False %}
                
                <!-- Header Text -->
                <div class="header-about ml-5 mt-3">
                    <h1>Hello, <br> there. </h1>
                    <br>
                    <h2> Ssst, there's a little secret for you. </h2>
                    <p>
                    Try to sign up and log in <br>
                    to know what is the secret!<br>
                    <br>
                </div>

                {% else %}

                <!-- Header Text -->
                <div class="header-about ml-5 mt-3">
                    <h1>Hello, <br> there. </h1>
                    <br>
                    <h2> Yay! You did it. </h2>
                </div>

                {% endif %}

        
        </div>

        <div class="right-page col">
            {% if user.is_authenticated == False %}
            <div class="login content mx-5 my-5">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                <div class="title">
                    <h3>Sign in</h3>
                    <br>
                </div>
                <div class="login-form">
                    <form method="POST">
                        {% csrf_token %} 
                        {{ form }}
                        <div>
                            <button type="submit" name="btn-login" id="btn-logIn" class="btn btn-dark mt-4">LOGIN</button>
                        </div>
                    </form>
                </div>

                <div class="info mt-5">
                    <p>
                        Don't have an account? <a class="sign-up-in-link" href="{% url 'story9:signup' %}"><strong>Sign up.</strong></a>
                    </p>
                </div>
            </div>

            {% else %}
                <div class="success mt-5 ml-5">
                    <div class="btn-logout">
                        <form action="{% url 'story9:logout' %}">
                            <input type="submit" id="btn-logOut" class="btn btn-dark" value="Log out">
                        </form>
                    </div>

                    <div class="greeting mt-5">
                        <h3>Welcome, </h3>
                        <h1 style="font-weight: 800px;"><span class="highlight">{{user.username}}.</span></h1>
                        <p> since you had succesfully get here, as you can see... yeah, <br>
                        this is the secret. I present to you.. some videos & musics that can raise your mood.</p>
                        <br>
                        <p> Here are the list! </p>
                        <br>
                        <h1 style="font-size: 30px; font-weight: 800px;"><span class="highlight">1. Stray Kids - Backdoor</span></h1>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/X-uJtV8ScYk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><br></iframe>
                        <h1><br></h1>
                        <h1 style="font-size: 30px; font-weight: 800px;"><span class="highlight">2. Kim Seon-ho reacts to 'All the Times We Fell for Han Ji-pyeong in Start-Up' [ENG SUB]</span></h1>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fajKpCEh8lQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><br></iframe>
                        <h1><br></h1>

                        <div class="flex-container">
                            <div>
                                <iframe src="https://open.spotify.com/embed/track/4Bmk7JYOquhWmSMMW4WebM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>

                            <div>
                                <iframe src="https://open.spotify.com/embed/track/3t0Dw9zYFXK4ezJxbM3rbj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"><br></iframe>
                            </div> 
                        </div>

                        <div class="flex-container">
                            <div>
                                <iframe src="https://open.spotify.com/embed/track/0u5FYJWJLcLzSN9S1Wb2ag" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>

                            <div>
                                <iframe src="https://open.spotify.com/embed/track/3Dzso9Q2WwupEclqgxBZht" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div> 
                        </div>

                        <div class="flex-container">
                            <div>
                                <iframe src="https://open.spotify.com/embed/track/1fah1uAs7HeTYDlNftKr3K" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>

                            <div>
                                <iframe src="https://open.spotify.com/embed/track/0y9fkzOaaQy4Up22BGUbIp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div> 
                        </div>
                        <h1><br></h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}