{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="main-story10 d-flex flex-column justify-content-center" theme="dark">
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    
    <div class="row">
        <div class="left-side d-flex flex-column justify-content-start col-3">
            <!-- Sidebar Menu -->
            <div class="ml-5 mt-5 mb-3">
                {% include 'navbar.html' %}
            </div>
            
            <!-- Header Text -->
            <div class="header-about ml-5 mt-3">
                <h1>Hello, <br> there. </h1>
                <br>
                <h2> Ssst, there's a little secret for you. </h2>
                <p>
                Try to sign up and log in <br>
                to know what is the secret!<br>
                <br>
            </div>
        
        </div>

        <div class="right-page col">
            <div class="login-content mx-5 my-5">

                <div class="title">
                    <h3>Create a new account</h3>
                    <br>
                </div>
            
            <div class="register-form">
                <form method="POST">
                    {% csrf_token %} 
                    {{ form }}
                    <div>
                        <button type="submit" name="btn-signup" id='btn-signUp' class="btn btn-dark mt-4">SIGN UP</button>
                    </div>
                </form>
            </div>
        
            <div class="info mt-5">
                <p>
                    Have an account already? <a class="sign-up-in-link" href="{% url 'story9:login' %}"><strong>Sign in.</strong></a>
                </p>
            </div>
        </div>
    </div> 
</div>

{% endblock content %}