.btn{
    color: white;
    background-color: #747997;
    border-radius: 20px;
    border-color:  #747997;
}

.sign-up-in-link{
    color: #5a5750;
}

.main-story10 h1{
    font-weight: 550;
    font-size: 55px;
}

.greeting h3{
    font-size: 30px;
    line-height: 15px;
}

.greeting p {
    font-size: 20px;
}

.title h3{
    font-size: 35px;
    font-weight: 550;
}

.flex-container {
    display: flex;
}
  
.flex-container > div {
    background-color: #6c718a;
    margin: 10px;
    padding: 20px;
}